body{
    background: #11ff00;
    background: linear-gradient(0deg, rgb(63, 196, 53) 0%, rgb(0, 97, 5) 100%);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

img{
    width: 100px;
    height: auto;
}
button{
    width: 113px;
    height: 50px;
}

#playingHand, #dealerHand{
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: auto;
}

#table {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#userHud, #dealerHud{
    justify-self: center;
    display: grid;
    justify-items: center;
    width: 400px;
}

#dealerHud{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: fit-content ;
}
#userHud{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#dealerValueDisplay{
    grid-column: 1/3;
    justify-self: center;
    margin-top: 40px;
    height: fit-content;

}
#userValueDisplay{
    grid-column: 1/3;
    justify-self: center;
}

p{
    font-family: "Geist", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

#resetButton{
    position: absolute;
    width: 200px;
    opacity: 0;
    pointer-events: none;
    display: none;
    z-index: 1;
    border-radius: 50px;
    background-color: gold;
    border: 4px solid gold;
    box-shadow: 0 0 10px gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    transition: cubic-bezier(0.34, 1.56, 0.64, 1) 0.5s ;
}

#resetButton:hover{
    transform: translateY(-10px);
}
.resetButtonFall{
    
}


.card{
    margin: -40px;
    animation: drawCard cubic-bezier(0.34, 1.56, 0.64, 1) 1s 1;
    border: 1px solid black;
    border-radius: 6px;
    background-color: black;
    transition: cubic-bezier(0.34, 1.56, 0.64, 1) 0.2s;
}
.card:hover{
    z-index: 1;
    transform: scale(1.10);
}
@keyframes drawCard {
    0%{
        transform: translateX(-800px);
    }
    100%{
        transform: translateX(0px) rotate(360deg);
    }
}
#hitButton{
    background-color: rgb(255, 0, 0);
}
#standButton{
    background-color: black;
}
.gameButton {
    color: white;
    font-family: "Geist", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    border: 3px solid gold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.4);
}

.gameButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 0px rgba(0, 0, 0, 0.6);
}

.gameButton:active {
    transform: translateY(1px);
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5);
}

.currencyDiv{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 60px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(65, 31, 0), rgb(65, 31, 0)) padding-box,
        linear-gradient(to right, rgb(255, 251, 0), rgb(121, 55, 0)) border-box;
    box-shadow: 0px 20px 30px 5px black;

}

.coinIcon{
    width: 30px;
    height: 30px;
    background-color: rgb(94, 45, 0);
    border-radius: 30px;
    border: 8px solid rgb(255, 183, 0);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 183, 0);
}
#coinCount{
    color: rgb(255, 187, 0);
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-size: 25px;
}
.coinIcon p {
    font-size: 40px;
    font-weight: 600;
    left: 10px;
}

@media (min-height: 600px) { 
    #table{
        grid-template-rows: auto auto auto auto;
    }
}