body{
    background: #11ff00;
    background: linear-gradient(0deg, rgba(17, 255, 0, 1) 0%, rgba(0, 122, 6, 1) 100%);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

img{
    width: 100px;
    height: auto;
}
button{
    width: 113px;
    height: 50px;
}

#playingHand, #dealerHand{
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: auto;
}

#table {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#userHud, #dealerHud{
    justify-self: center;
    display: grid;
    justify-items: center;
    width: 400px;
}

#dealerHud{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
}
#userHud{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#dealerValueDisplay{
    grid-column: 1/3;
    justify-self: center;
    margin-top: 40px;
    height: fit-content;

}
#userValueDisplay{
    grid-column: 1/3;
    justify-self: center;
}

p{
    font-family: "Geist", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

#resetButton{
    position: absolute;
    width: 200px;
    opacity: 0;
    pointer-events: none;
    display: none;

}


.card{
    margin: -40px;
    animation: drawCard cubic-bezier(0.34, 1.56, 0.64, 1) 1s 1;
    border: 1px solid black;
    border-radius: 6px;
    background-color: black;
}
.card:hover{
    transition: ease 0.2s;
    z-index: 1;
    transform: scale(1.10);
}
@keyframes drawCard {
    0%{
        transform: translateX(-800px);
    }
    100%{
        transform: translateY(0px) rotate(360deg);
    }
}